@import url("https://meltymooncakes.com/css/fonts.css");
@import url("./components/others.css");
@import url("./components/navbar.css");
@import url("./components/fanart.css");

:root {
	--accent: #dd9ac2;
	--accent-muted: #805970;

	--navbar-background: #dd9ac2;
	--navbar-text: #000000;

	--background: #1C1C1C;
	--background-muted: #161616;
	--background-muted-x: #101010;

	--component-striped-a: #AF8BAF;
	--component-striped-b: #F6ACC8;
	--component-striped-text: #000000;
	--text: #E0E0E0;
	--link: #2b2bd9;
}

a {
	color: var(--link);
	font-weight: 700;
	text-decoration-line: none;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: montserrat;
}

h2 {
	font-weight: 700;
}
h3 {
	font-weight: 600;
}

.body-sub {
	width: -moz-available;
	width: -webkit-fill-available;
	margin: 5px;
	height: min-content;
}
.body-sub > div {
	padding: 10px;
}


#body {
	display: flex;
	justify-content: space-between;
	padding: 20px 15px;
}

#header h1 {
	text-shadow: 0px 0px 1px #00000001;
}


@media (max-width: 991px) {
	#body {
		flex-wrap: wrap;
	}
}
