#fanart-artist {
	padding: 10px;
	text-align: center;
}

.fanart-image {
	display: flex;
	justify-content: center;
}

/* Desktop */
@media (min-width: 992px) {
	#fanart-image {
		max-width: 60%;
	}
}

/* Mobile */
@media (max-width: 991px) {
	#fanart-image {
		max-width: 100%;
	}
}