.stripes {
	color: var(--component-striped-text);
	text-shadow: 0px 0px 5x var(--component-striped-text);
	background: repeating-linear-gradient(
		45deg,
		var(--component-striped-a),
		var(--component-striped-a) 7px,
		var(--component-striped-b) 7px,
		var(--component-striped-b) 15px
	   ) !important;
}

.text-outline-white {
	text-shadow:
		1px 1px 0px #FFF,
		1px -1px 0px #FFF,
		-1px 1px 0px #FFF,
		-1px -1px 0px #FFF;
}

.center {
	text-align: center;
}